<div class="app-container center outer-center">
  <div class="inner-center">
    <h1>Du hast dein Passwort vergessen?</h1>
    <p>Macht nichts. Wir schicken Dir eine E-Mail zum Zurücksetzen zu.<br/>Du musst uns nur verraten, wie du heißt oder wie deine E-Mail lautet.</p>
    <form [formGroup]="resetForm" (submit)="onSubmit()">
      <section>
        <mat-form-field>
          <input matInput formControlName="Username" [placeholder]="placeholder" [type]="inputType" maxlength="64" (keyup)="onInputChange()">
          <mat-error *ngIf="resetForm.controls['Username'].errors">Der Nutzername fehlt</mat-error>
        </mat-form-field>
      </section>
      <br/>
      <section>
        <button
          mat-raised-button
          color="primary"
          disabled
          *ngIf="resetForm.controls['Username'].errors; else formValid">
          Passwort zurücksetzen
        </button>
        <app-captcha (resolved)="onCaptchaResolved()"></app-captcha>
        <ng-template #formValid>
          <button mat-raised-button color="primary" type="submit">Passwort zurücksetzen</button>
        </ng-template>
      </section>
    </form>
  </div>
</div>

