.inner-center {
  display: inline-block;
}

.outer-center {
  text-align: center;
}

form {
  mat-form-field {
    width: 80%;
  }
}

.password-reset-container {
  text-align: right;
}

.password-reset {
  text-decoration: none;
}
