<div class="app-container center outer-center">
  <div class="inner-center">
    <h1>Tritt der Box bei</h1>
    <p>Registriere dich noch heute. Wieso? Weil die Box sehr gut ist.</p>
    <mat-horizontal-stepper [linear]="true" style="background: transparent; display: inherit; width: 60%">
      <mat-step [stepControl]="dataForm">
        <form [formGroup]="dataForm">
          <ng-template matStepLabel>Sag uns wer du bist</ng-template>
          <mat-form-field>
            <input #username matInput formControlName="username" placeholder="Nutzername" type="search" maxlength="64">
            <p *ngIf="dataForm.controls.username.errors?.required">Bitte gib einen Nutzernamen an</p>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="Vorname" type="text" maxlength="64">
            <mat-error *ngIf="dataForm.controls.firstName.errors">Bitte gib deinen Vornamen an</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Nachname" type="text" maxlength="64">
            <mat-error *ngIf="dataForm.controls.lastName.errors">Bitte gib deinen Nachnamen an</mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperNext color="primary">Nächster Schritt</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="emailForm">
        <form [formGroup]="emailForm">
          <ng-template matStepLabel>Verrate uns deine E-Mail</ng-template>
          <mat-form-field>
            <input matInput email formControlName="email" placeholder="E-Mail" type="email" maxlength="64">
            <mat-error *ngIf="emailForm.controls.email.errors?.required">Du musst eine E-Mail angeben</mat-error>
            <mat-error *ngIf="emailForm.controls.email.errors?.email && !emailForm.controls.email.errors?.required">Die E-Mail ist nicht gültig</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput email formControlName="emailConfirm" placeholder="E-Mail bestätigen" type="email" maxlength="64">
            <mat-error *ngIf="emailForm.controls.emailConfirm.errors?.emailNotMatching">Die E-Mails stimmen nicht überein</mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperNext color="primary">Nächster Schritt</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordForm">
        <form [formGroup]="passwordForm">
          <ng-template matStepLabel>Wähle ein Passwort</ng-template>
          <p>
            Ein gutes Passwort besteht aus Großbuchstaben, Kleinbuchstaben, Zahlen und Sonderzeichen. Wir sind sehr um deine
            Sicherheit bemüht, jedoch musst du uns dabei helfen und ein sicheres Passwort wählen.
          </p>
          <mat-form-field>
            <input matInput formControlName="password" placeholder="Passwort" type="password" maxlength="64">
            <mat-error *ngIf="passwordForm.controls.password.errors?.minlength">
              Dein Passwort muss mindestens 6 Zeichen lang sein
            </mat-error>
            <mat-error *ngIf="passwordWeak">
              Das Passwort ist nicht sicher genug
            </mat-error>
          </mat-form-field>
          <app-password-strength-indicator [minLength]="minPasswordLength" [password]="passwordForm.controls.password.value" (strengthCalculated)="onPasswordStrengthCalculated($event)" style="display: inline-block; width: 80%"></app-password-strength-indicator>

          <mat-form-field>
            <input matInput formControlName="passwordConfirm" placeholder="Passwort bestätigen" type="password" maxlength="64">
            <mat-error *ngIf="passwordForm.controls.passwordConfirm.errors?.passwordNotMatching">Die Passwörter stimmen nicht überein</mat-error>
          </mat-form-field>
          <div style="text-align: center">
            <br/>
            <app-captcha (resolved)="onCaptchaResolved($event)" style="display: inline-block"></app-captcha>
            <mat-hint *ngIf="!captchaKey"><br/>Das Captcha muss gelöst sein</mat-hint>
          </div>
          <br/>
          <div>
            <button mat-raised-button matStepperNext color="primary" (click)="register()" type="button" [disabled]="!captchaKey">Jetzt Registrieren</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fertig</ng-template>
        Du hast dich erfolgreich registriert. Bitte bestätige deine E-Mail, bevor du dich das erste Mal einloggst.
        <br/>
        <br/>
        <div>
          <button mat-raised-button matStepperNext color="primary" [routerLink]="['../']">Anmelden</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

