<div class="card-container-outer">
  <div class="card-container-inner">
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title style="font-size: 16pt">Fach 1</mat-card-title>
        <mat-card-subtitle style="font-size: 15pt;">Karte 1 / 20</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 13pt" *ngIf="!showAnswer; else solution">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
        <ng-template #solution>
          <span>Lösung</span>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          </p>
        </ng-template>
      </mat-card-content>
      <mat-card-actions>
        <form [formGroup]="answerForm" (submit)="answerSubmitted()" *ngIf="!showAnswer; else solutionForm">
          <mat-form-field style="width: 90%">
            <input matInput formControlName="answer" placeholder="Antwort">
          </mat-form-field>
          <button mat-raised-button type="button">Überspringen</button>
          <button mat-raised-button color="primary" type="submit">Beantworten</button>
        </form>
        <ng-template #solutionForm>
          <button mat-raised-button type="button" (click)="answerReviewed(false)">Falsch</button>
          <button mat-raised-button color="primary" type="button" (click)="answerReviewed(true)">Richtig</button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="exbutton" style="position:fixed;bottom: 0">

</div>

<!-- TODO: Adjust mobile style -->

<table style="position: fixed; bottom: 0; margin-right: 5%; margin-left: 5%; height: 10%; width: 80%">
  <div class="expand">
    <tr>
      <td>
        <button mat-icon-button color="primary" (click)="collapsed1=!collapsed1" style=" left: 1500%;" >
          <mat-icon aria-hidden="true" *ngIf="!collapsed1">arrow_upwards</mat-icon>
          <mat-icon aria-hidden="true" *ngIf="collapsed1">arrow_downwards</mat-icon>

        </button>
      </td>
    </tr>
  </div>

  <tr *ngIf="collapsed1">
    <td *ngFor="let i of range(0, 4)">
      <mat-card style="margin-right: 1em;">
        <mat-card-header>
          <mat-card-title>Fach {{i+1}}</mat-card-title>
          <mat-card-subtitle>20 Karteikarten</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button>Lernen</button>
        </mat-card-actions>
      </mat-card>
    </td>
    <td>
      <mat-card style="height: 100%;">
        <mat-card-header>
          <mat-card-title>Gelernt</mat-card-title>
          <mat-card-subtitle>20 Karteikarten</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </td>
  </tr>
</table>

