/*
  Answer card
 */

.card-container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.card-container-inner {
  text-align: center;
  width: 70%
}

.card-container {
}

.learn-card-title {
  text-align: left;
  font-size: 16pt;
}

.learn-card-subtitle {
  font-size: 15pt;
}

.learn-card-content {
  font-size: 13pt;
}

.learn-card-answer-edit-field {
  width: 90%;
}

/*
  Boxes
 */
.boxes-outer-container {
  position: fixed;
  bottom: 0;
  margin-right: 5%;
  margin-left: 5%;
  height: 14rem;
  width: 80%;
  text-align: center;
}

.boxes-inner-container {
  display: inline-block;
}

.boxes-toggle-button {
  margin-bottom: 1rem;
}

.boxes-table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1em;
}

.boxes-table-row-group {
  display: table-row-group;
}

.boxes-table-row {
  display: table-row;
}

.boxes-card {
  display: table-cell;
}
