.edit-container-outer {
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 5%;
  height: 80%;
  width: 90%;
}

.card-content {
  font-size: 13pt !important;
}

.delete-button {
  position: absolute;
  right: 0;
}

.edit-save-button {
  position: absolute;
  right: 2.5rem;
}

.edit-field {
  width: 40%;
  margin-right: 2rem;
}

.subject-title {
  font-size: 14pt;
  font-weight: bold;
}

.reset-button {
  float: right;
  margin-right: 2rem;
}
