.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 70%;
}

.card {
  width: 30%;
  height: 80%;
  cursor: pointer;
  text-align: center;

  &.disabled {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.mat-card-header{
  display: inline;
}

.mat-card-title{
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
}

.mat-card-subtitle{
  text-align: center;
}
