mat-row {
  transition: background-color 0.2s ease;
}

mat-row:hover {
  cursor: pointer;
  background-color: aliceblue;
}
.ue1{
  font-size:  2rem;
  padding-bottom: 10px;
}
button{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
