<div class="card-container-outer">
  <div class="card-container-inner">
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title class="learn-card-title">Fach 1</mat-card-title>
        <mat-card-subtitle class="learn-card-subtitle">Karte 1 / 20</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="learn-card-content" *ngIf="!showAnswer; else solution">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
        <ng-template #solution>
          <span>Lösung</span>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          </p>
        </ng-template>
      </mat-card-content>
      <mat-card-actions>
        <form [formGroup]="answerForm" (submit)="answerSubmitted()" *ngIf="!showAnswer; else solutionForm">
          <mat-form-field class="learn-card-answer-edit-field">
            <input matInput formControlName="answer" placeholder="Antwort">
          </mat-form-field>
          <button mat-raised-button type="button">Überspringen</button>
          <button mat-raised-button color="primary" type="submit">Beantworten</button>
        </form>
        <ng-template #solutionForm>
          <button mat-raised-button type="button" (click)="answerReviewed(false)">Falsch</button>
          <button mat-raised-button color="primary" type="button" (click)="answerReviewed(true)">Richtig</button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="boxes-outer-container">
  <div class="boxes-inner-container" [@boxesState]="boxesMinimized">
    <button mat-icon-button color="primary" (click)="boxesMinimized=!boxesMinimized" class="boxes-toggle-button">
      <mat-icon aria-hidden="true" *ngIf="boxesMinimized" >arrow_upwards</mat-icon>
      <mat-icon aria-hidden="true" *ngIf="!boxesMinimized">arrow_downwards</mat-icon>
    </button>

    <!-- TODO: Adjust mobile style -->
    <div class="boxes-table">
      <div class="boxes-table-row-group">
        <div class="boxes-table-row">
          <mat-card *ngFor="let i of range(0, 4)" class="boxes-card">
            <mat-card-header>
              <mat-card-title>Fach {{i+1}}</mat-card-title>
              <mat-card-subtitle>20 Karteikarten</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button>Lernen</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="boxes-card">
            <mat-card-header>
              <mat-card-title>Gelernt</mat-card-title>
              <mat-card-subtitle>20 Karteikarten</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
