<ng-progress [color]="'#7986CB'"></ng-progress>
<app-storage-notification></app-storage-notification>
<simple-notifications [options]="notificationOptions"></simple-notifications>

<div class="app-container-outer" *ngIf="!authService.isLoggedIn(); else loggedIn">
  <router-outlet></router-outlet>
</div>

<ng-template #loggedIn>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav [opened]="windowRef.isMobile() ? sidenavOpened : true" [mode]="windowRef.isMobile() ? 'over': 'side'">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <div class="sidenav-content-container">
      <mat-toolbar color="primary">
        <mat-icon *ngIf="windowRef.isMobile()" (click)="sidenavOpened = !sidenavOpened" style="cursor: pointer;">menu</mat-icon>
        <span *ngIf="windowRef.isMobile()">&nbsp;&nbsp;</span>
        <button mat-icon-button (click)="navigateBack()" *ngIf="router.url.indexOf('/dashboard') != 0">
          <mat-icon aria-hidden="true" style="transform: rotate(-90deg)">arrow_upwards</mat-icon>
        </button>
        <span style="margin-left: 0.5rem;">{{pageTitle}}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</ng-template>
