<mat-toolbar style="color: #212121; background: white">
  <mat-icon>
    account_circle
  </mat-icon>
  <span>
    &nbsp;&nbsp;{{authService.session.username}}
  </span>


  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
      <span>Einstellungen</span>
    </button>
  </mat-menu>

  <mat-toolbar-row *ngFor="let entry of entries" (click)="navigate(entry.routerLink)">
    <span>{{entry.title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
