<mat-toolbar class="sidebar">
  <mat-icon>
    account_circle
  </mat-icon>
  <span *ngIf="authService.session">
    &nbsp;&nbsp;{{authService.session?.decodedToken?.preferred_username}}
  </span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
      <span>Einstellungen</span>
    </button>
  </mat-menu>

  <mat-toolbar-row *ngFor="let entry of entries" (click)="navigate(entry.routerLink)" [ngClass]="{'active': router.url.indexOf(entry.routerLink[0]) == 0 }" class="sidebar-entry">
    <mat-icon *ngIf="entry.icon">{{entry.icon}}</mat-icon>
    <span *ngIf="entry.icon">&nbsp;&nbsp;</span>
    <span class="sidebar-entry-content">{{entry.title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
